$ff: 'Karmilla', sans-serif;

body {
  box-sizing: border-box;
  font-family: $ff;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  @include media-above($tablet) {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 6rem 0;
  text-align: center;
}

a {
  color: $green;
  
  &:hover, &:focus {
    color: $darkgreen;
  }
}

.flower-power {
  margin: 2rem auto;
  width: 8rem;
}

.legend {
  font-size: 18px;
  line-height: 1;

  &:first-of-type {
    margin-top: 2rem;
  }
}

.section--block {
  display: block;
}

.location{
  margin: 2rem auto;
  max-width: 30rem;
  width: 100%;
}

.container {
  @include media-above($desktop) {
    max-width: 650px;
  }
}
