$ff: 'Karmilla', sans-serif;

body {
  box-sizing: border-box;
  font-family: $ff;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 6rem 0;
  text-align: center;

  img:not(.location) {
    margin: 2rem auto;
    width: 8rem;
  }
}

.section--block {
  display: block;
}

.location{
  width: 40%;
}

.container {
  @include media-above($desktop) {
    max-width: 650px;
  }
}
